<div id="<%= dom_id business %>">
  <p>
    <strong>Name:</strong>
    <%= business.name %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= business.registration_number %>
  </p>

  <p>
    <strong>Business type:</strong>
    <%= business.business_type %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= business.owner_name %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= business.father_name %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= business.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= business.address %>
  </p>

</div>
