<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :registration_number, style: "display: block" %>
    <%= form.text_field :registration_number %>
  </div>

  <div>
    <%= form.label :business_type, style: "display: block" %>
    <%= form.number_field :business_type %>
  </div>

  <div>
    <%= form.label :owner_name, style: "display: block" %>
    <%= form.text_field :owner_name %>
  </div>

  <div>
    <%= form.label :father_name, style: "display: block" %>
    <%= form.text_field :father_name %>
  </div>

  <div>
    <%= form.label :mobile, style: "display: block" %>
    <%= form.text_field :mobile %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
