<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>w
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :business_type, style: "display: block" %>
    <%= form.select :business_type, options_for_select(Business.business_types.map {|k, _| [k.humanize.capitalize, k.to_sym]}), {}, {class: "form-control"}  %>
  </div>

  <div class="form-group">
    <%= form.label :owner_name, style: "display: block" %>
    <%= form.text_field :owner_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :father_name, style: "display: block" %>
    <%= form.text_field :father_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mobile, style: "display: block" %>
    <%= form.text_field :mobile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Register", class: "btn btn-primary" %>
  </div>
<% end %>

