<div id="<%= dom_id @business %>">
  <p>
    <strong>Name:</strong>
    <%= @business.name %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= @business.registration_number %>
  </p>

  <p>
    <strong>Business type:</strong>
    <%= @business.business_type %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= @business.owner_name %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= @business.father_name %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= @business.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @business.address %>
  </p>


  <div class="row">
    <div class="col">
      <%= button_to "Pay", new_business_transaction_path(@business), method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col">
      <%= button_to "Previous Transactions", business_transactions_path(@business), method: :get, class: "btn btn-success" %>
    </div>
    <div class="col">
      <%= link_to "Edit this business", edit_business_path(@business), class: "btn btn-info" %>
    </div>
    <div class="col">
      <%= button_to "Delete", @business, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

  <br>

  <%= link_to "Back to businesses", businesses_path %>
</div>
