<div class="container">
  <div class="row">
    <%= image_tag 'cover1.jpeg', width: '100%', height: '100%' %>
  </div>
</div>


<div style="text-align: center">
  <h1>Welcome to Cherki Panchayat</h1>
  <p>An online business registration and tax collection system</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'phulwa.png', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h3 class="card-title">Fulwa Devi</h3>
        <p class="card-text">Mrs. Fulwa Devi is the current Mukhiya of Cherki Panchayat.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 pull-right">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'no_image.png', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h3 class="card-title">Panchayat Sachiv</h3>
        <p class="card-text">Mr. Ashok kumar is the current panchayat sachiv of Cherki.</p>
      </div>
    </div>
  </div>


  <!--  <div class="col-sm-4">-->
  <!--    <div class="card" style="width: 18rem;">-->
  <%#= image_tag 'javed.png', class: 'card-img-top' %>
  <!--      <div class="card-body text-center">-->
  <!--        <h3 class="card-title">Javed Khan</h3>-->
  <!--        <p class="card-text">Mr. Javed Khan is the Mukhiya Partinidhi of Cherki Panchayat.</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

</div>
</br>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'no_image.png', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h3 class="card-title">BDO Sherghati</h3>
        <p class="card-text">Mr. Prashant Kumar Prasoon is the current Block Development Officer of Sherghati.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'co.png', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h3 class="card-title">Circle Officer</h3>
        <p class="card-text">Mr. Sudhir Tiwari is the current Circle Officer of Sherghati Block.</p>
      </div>
    </div>
  </div>

</div>



