<%= form_with(model: [business, transaction]) do |f| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this account_transaction from being saved:</h2>
      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, class: 'form-control' %>
  </div>

  <%= f.submit "Pay", class: "btn btn-primary" %>
<% end %>
