<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Transaction Number</th>
    <th scope="col">Amount</th>
    <th scope="col">Transaction Type</th>
    <th scope="col">Participant Account</th>
    <th scope="col">Date Time</th>
  </tr>
  </thead>
  <tbody>
  <% transactions.each_with_index do |transaction, i| %>
    <tr>
      <th scope="row"><%= i+1 %></th>
      <td><%= link_to transaction.reference_number, account_transactions_path(@account, transaction) %></td>
      <td><%= transaction.amount %></td>
      <td><%= find_transaction_type(transaction) %></td>
      <td><%= find_transaction_type(transaction) == 'debit' ?  transaction.receiver.account_number : transaction.account.account_number %></td>
      <td><%= transaction.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
